

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.star_list {
  list-style-type: none;
  
}


.card-body-stars {
  display: flex;
}


.none {
  display: none;
}